---
// No props needed for now
---

<footer class="pt-12 pb-4">
  <!-- Copyright -->
  <div class="text-gray-400">
    <p class="ml-8">
      &copy; {new Date().getFullYear()} Arko MKT. All rights reserved.
    </p>
  </div>
</footer>
